body {
  margin: 0;
  font-family: "Shabnam", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Shabnam", "Clear Sans", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes letter-in {
    0%   {transform: scale(1);}
    50%  {transform: scale(1.1);}
    100% {transform: scale(1);}
}

@keyframes accepted-letter {
  0%   {transform: rotateX(0deg);}
  25%   {transform: rotateX(45deg);}
  50%  {transform: rotateX(90deg)}
  75%   {transform: rotateX(45deg);}
  100% {transform: rotateX(0deg);}
}